* {
    list-style-type: none;
    color: rgb(255, 255, 255);
     background-color: rgb(62, 60, 65);

}
 
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
 }

 .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9953db;
    height: 60px;
 }


nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hamburguer {
    display: none;

}

section {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto {
    height: 250px;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.imgResp {
    display: none;

}

.titulo {
    margin: 0%;
    height: 100px;
    width: 90%;
}

.titulo h3 {
    font-size: 30px;
}

.textoRoxo {
    color: rgb(153, 83, 219);

}

.paragrafo {
    margin: 0%;
    height: 90px;
    width: 90%;
}

.godot {
    color: gainsboro;

}

.butao {
    width: 90%;
    justify-content: center;
}

.butao button {
    height: 30px;
    width: 20%;
    color: aliceblue;
    border-color: #9953db;
    border-radius: 20px;

}

.butao :hover {
    background-color: #9953db;
    border-color: white;
}

.imagemSite {
    height: 600px;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.imagemSite img{
    display: flex;
    height: 600px;
}

footer {
    display: flex;
    justify-content: center;
    height: 300px;
}

.icones {
    height: 100px;
    width: 80%;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icones img {
    height: 60px;
}